#hero {
  background-color: $primaryClr;
  padding-bottom: 0;
  padding-top: 5rem;

  .title {
    margin-right: auto;
    animation: enterFadeInLeft 1s ease-in;

    @keyframes enterFadeInLeft {
      0% {
        opacity: 0;
        transform: translateX(-10%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .resume {
      text-decoration: none;
      font-size: $fs-xl;
      border: 1px solid $accentClr;
      padding: 3px 15px;
      display: inline-block;
      margin-top: 2rem;
      transition: letter-spacing 0.3s ease-in-out;
      animation: enterFadeInLeft 1.3s ease-in;

      &:hover {
        letter-spacing: 1px;
      }
    }
  }

  .hero_image {
    max-width: 500px;
    height: 680px;
    flex: 20rem;
    position: relative;
    overflow: hidden;

    img {
      z-index: 10;
      position: relative;
      animation: enterFadeInImg 1s ease-in;
    }

    @keyframes enterFadeInImg {
      0% {
        opacity: 0;
        scale: 1.05;
      }
      100% {
        opacity: 1;
        scale: 1;
      }
    }

    .bg-img-animation {
      width: 100%;
      height: 80%;
      background: linear-gradient(to right bottom, #fd3e46, #0e9cf0, #000);
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: blob 15s linear infinite;
    }

    @keyframes blob {
      0%,
      100% {
        border-radius: 45% 55% 70% 35% / 70% 30% 90% 40%;
      }
      25% {
        border-radius: 55% 45% 30% 35% / 50% 30% 60% 10%;
      }
      50% {
        border-radius: 65% 35% 35% 65% / 40% 60% 30% 70%;
      }
      25% {
        border-radius: 35% 65% 60% 40% / 70% 30% 40% 60%;
      }
    }
  }
}

@include sm {
  #hero {
    margin-top: 2.5rem;

    .title {
      margin: auto;
      text-align: center;
    }
    
    mark {
      display: none;
    }

    .hero_image {
      height: 600px;
    }
  }
}
